{:paths ["src" "test"]
 :deps  {org.clojure/clojure    {:mvn/version "1.10.1"}
         lambdaisland/kaocha    {:mvn/version "0.0-601"}
         lambdaisland/cloverage {:mvn/version "1.1.2-no-aot"}}
 :aliases
 {:dev
  {}

  :test
  {:extra-deps {nubank/matcher-combinators {:mvn/version "0.7.0"}}}}}
