{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.1"}
         lambdaisland/kaocha {:mvn/version "0.0-601"}
         cloverage/cloverage {:mvn/version "1.2.4"}}
 :aliases
 {:dev
  {}

  :test
  {:extra-paths ["test/unit"]
   :extra-deps {nubank/matcher-combinators {:mvn/version "0.7.0"}}}}}
