{:paths ["src" "test"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.0-beta5"}
         lambdaisland/kaocha {:mvn/version "0.0-313"}
         cloverage           {:mvn/version "1.0.13"}}
 :aliases
 {:dev
  {}

  :test
  {:extra-deps {nubank/matcher-combinators {:mvn/version "0.4.2"}}}}}
